@import '../../../../../../../../../../styles/colors.scss';

.container {
	@apply flex flex-row my-0.5 box-border p-2;
	border: solid 1px $gray-200;
	max-width: 380px;

	> p,
	input {
		@apply border-none bg-transparent text-base w-full my-0 whitespace-nowrap overflow-hidden overflow-ellipsis;
	}

	> input {
		padding: 0;
		outline: none;
	}
}

.icon {
	@apply flex flex-row justify-center items-center w-10 cursor-move;
}

.icon:nth-of-type(2) {
	@apply cursor-pointer;
	&:hover {
		> svg {
			transform: scale(1.25);
		}
	}
}
