@import '../../../../styles/mixins.scss';
@import '../../../../styles/colors.scss';

.input {
	@apply w-full flex flex-col items-center justify-start h-12 mb-1 mt-4 px-2 box-border text-primary-700 text-left text-xl;
	border: 1px solid rgb(204, 204, 204);
	border-radius: 4px;
}

.error {
	@apply text-danger-500 font-semibold text-left mt-1;
	font-size: 15px;
	line-height: 15px;
}

// .inputContainer {
// 	@apply flex flex-col items-center justify-start pt-4;

// 	input {
// 		@apply w-full h-9 m-0 px-0 text-primary-700 text-lg border-primary-700 focus:ring-0;
// 		border-bottom-width: 1px;
// 		outline: none;
// 		border-top: none;
// 		border-right: none;
// 		border-left: none;

// 		&::-webkit-inner-spin-button,
// 		&::-webkit-outer-spin-button {
// 			-webkit-appearance: none;
// 			margin: 0;
// 		}

// 		& {
// 			-moz-appearance: textfield;
// 		}
// 	}
// }
