@import '../../../styles/colors.scss';

.container {
	@apply flex flex-col justify-center items-start bg-white p-4 pb-8 rounded-md box-border;
	height: calc(100vh - 50px);
}

.report {
	@apply p-2 rounded-sm w-full box-border;
	border: 1px solid $primary-200;
	max-height: calc(100vh - 140px);
	overflow-y: auto;
}

.header {
	@apply w-full flex flex-row justify-between items-center;
	> h1 {
		@apply m-0;
	}

	> svg {
		@apply cursor-pointer ml-2;
	}
	> svg:hover {
		transform: scale(1.1);
		z-index: 100;
	}
}

.title {
	@apply mb-0 mt-2 font-light text-left;
	font-size: 24px;
	line-height: 28px;
	color: $gray-700;
}

@media (max-width: 450px) {
	.report {
		@apply pr-4;
	}
	.title {
		font-size: 16px;
		line-height: 18px;
	}
}
