@import '../../../styles/colors.scss';
.landing {
	@apply flex h-screen w-screen;
}

.scroll {
	@apply flex flex-col items-center justify-center bg-transparent border-none font-bold uppercase cursor-pointer pb-10;

	> p {
		@apply p-0 m-0;
		font-size: 20px;
		line-height: 22px;
		color: $secondary-600;
	}
	> svg {
		@apply py-4;
		color: $secondary-600;
	}
	&:hover {
		> p,
		> svg {
			transform: scale(1.02);
			color: $secondary-500;
		}
	}
}

// .scroll:hover {
// 	> p,
// 	> svg {
// 		transform: scale(1.02);
// 	}
// }

@media (max-width: 800px) {
	.landing {
		@apply flex-col;
	}
}
