.overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 10;
}

.completedStep {
	@apply flex flex-row text-primary-900 bg-gray-50 p-3 mb-2;
	overflow: hidden;

	> div:nth-of-type(1) {
		@apply font-semibold text-primary-900;
	}

	> div:nth-of-type(2) {
		@apply ml-1 font-semibold text-success-600;
	}
}

.step {
	@apply relative;
}

button {
	@apply mt-4;
}

button:nth-of-type(2) {
	@apply ml-4;
}
