@import '../../../../../../../styles/colors.scss';
.table {
	@apply pt-4;
}

.headerCell {
	@apply py-2 flex flex-row items-center justify-center font-semibold;
	outline: 1px solid $secondary-500;
}

.cell {
	@apply py-2 flex flex-row items-center justify-center;
	outline: 1px solid $secondary-500;
}

.tableHeader {
	@apply grid text-base text-center;
	grid-template-columns: 1fr 1fr 1.3fr;
	gap: 1px;
}

.tableItem {
	@apply grid text-base text-center hover:bg-secondary-50 cursor-pointer;
	grid-template-columns: 1fr 1fr 1.3fr;
	gap: 1px;
}
