.container {
	@apply bg-gray-50 w-full;
	height: 170px;
	min-width: 280px;
}

.header {
	@apply rounded-t-sm px-4 py-2 box-border;
}

.heading {
	@apply flex flex-row;
}

.row {
	@apply grid;
	grid-template-columns: 58px 1fr;
}

.body {
	@apply rounded-b-sm px-4 py-2 box-border;
}

.title {
	@apply m-0 font-semibold mr-1;
	font-size: 14px;
	line-height: 20px;
}

.data {
	@apply m-0;
	font-size: 14px;
	line-height: 20px;
}

.button {
	@apply ml-4 px-2 py-1.5 text-sm bg-danger-300 hover:bg-danger-100;

	&:hover {
		transform: scale(1.01);
	}
}

.adder {
	@apply h-full flex flex-col items-center justify-center cursor-pointer;
	&:hover {
		transform: scale(1.05);
	}
}
