@import '../../../../../../../styles/colors.scss';

.container {
	@apply px-2 pt-6 pb-8 rounded-md;
}

.cards {
	@apply grid gap-3;
	grid-template-columns: repeat(auto-fill, minmax(240px, 320px));
	@media (max-width: 1031px) {
		grid-template-columns: repeat(auto-fill, minmax(240px, 31%));
	}
	@media (max-width: 900px) {
		grid-template-columns: repeat(2, minmax(240px, 1fr));
	}
	@media (max-width: 542px) {
		grid-template-columns: repeat(1, minmax(240px, 1fr));
	}
}

.card {
	@apply flex flex-col items-center justify-between p-4 bg-gray-50 rounded-md box-border;
	width: 100%;

	&:hover {
		border: 1px solid $primary-200;
	}

	> label {
		@apply cursor-pointer;
		> span:nth-of-type(1) {
			@apply block mb-2;
		}
		> span:nth-of-type(2) {
			@apply block pb-4;
		}
	}

	> input {
		@apply cursor-pointer w-full m-0;
		height: 24px;
	}
}

.title {
	@apply text-primary-800 font-bold;
}

.description {
	@apply text-sm text-gray-600;
}

.active {
	@apply bg-primary-200;
}
