@import '../../../../../../../../../styles/colors.scss';

.gridTable {
	@apply w-full grid gap-0 box-border;
	grid-template-columns: auto 1fr auto auto;
	border: 1px solid $primary-800;
}

.gridRow:nth-of-type(1) {
	@apply font-semibold;
	> div {
		background: $primary-100;
	}
}

.gridRow {
	display: contents;

	> div {
		@apply p-1.5;
		border: 1px solid $primary-800;
		background-color: white;
	}

	> div:nth-of-type(1) {
		@apply cursor-pointer;
	}

	> div:nth-of-type(2) {
		@apply whitespace-nowrap overflow-hidden overflow-ellipsis;
	}

	> div:nth-of-type(3),
	> div:nth-of-type(4) {
		@apply text-center;
		> p {
			@apply text-center m-0;
		}
	}
}

.groupRow {
	display: contents;
}

.operationRow {
	display: contents;
}

.value {
	@apply m-0;
}

.total {
	font-weight: bold;
}

.blurred {
	@apply filter; /* Если нужно применить базовые стили фильтра */
	filter: blur(4px); /* Произвольное значение размытия */
}
