@import '../../../../../../styles/colors.scss';
.fieldSet {
	@apply grid gap-x-2 gap-y-0.5  rounded-lg;
	border: 1px solid $secondary-200;

	@media (min-width: 800px) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media (min-width: 1200px) {
		grid-template-columns: repeat(3, 1fr);
	}
}

.blockTitle {
	@apply ml-2 mb-2 text-xl text-secondary-600 underline;
	@media (max-width: 600px) {
		@apply text-lg;
	}
}

.fieldGroup {
	@apply rounded-lg;
	border: 1px solid $secondary-200;

	&:not(:first-child) {
		margin-top: 8px;
	}
}
