@import '../../../../styles/colors.scss';

.container {
	@apply flex flex-col items-center py-2 px-2;
	max-width: 600px;
}

.uploadField {
	@apply flex flex-col items-center p-4 rounded-md border border-dashed;
	border-color: rgb(204, 204, 204);

	&:hover {
		@apply bg-gray-50;
	}

	label {
		@apply cursor-pointer;

		span {
			@apply block text-primary-800;
			font-size: 16px;
		}

		input[type='file'] {
			@apply hidden;
		}
	}

	.dropArea {
		@apply mt-2 p-4 text-center text-sm text-gray-600;
		border-radius: 4px;
		width: 100%;
	}
}

.error {
	border-color: $danger-500;

	.dropArea {
		@apply text-danger-500;
	}
}

.errorMessage {
	@apply text-danger-500 mt-2;
}
