.container {
	@apply h-full w-full flex flex-col justify-between;
}

.stepIndicator {
	font-weight: bold;
	margin-bottom: 10px;
}

.stepContent {
	margin-bottom: 20px;
}

.stepNavigation {
	@apply flex flex-row justify-start;
	> button:nth-of-type(2) {
		@apply ml-4;
	}
}
