@import '../../../../../styles/colors.scss';
.container {
	@apply flex flex-col items-center;
}

.errors {
	@apply bg-danger-100 pb-2 mb-2 rounded-sm;
	.subTitle {
		@apply bg-danger-200;
	}
}

.warnings {
	@apply bg-neutral-100 pb-2 mb-2 rounded-sm;
	.subTitle {
		@apply bg-neutral-300;
	}
}

.title {
	@apply text-center text-lg m-0 mb-2;
}

.subTitle {
	@apply text-base m-0 py-2 px-2 uppercase;
}

.notice {
}

.noticeWarning {
	@apply text-base font-bold uppercase;
}

.list {
	@apply p-0 m-0 list-inside;
	max-height: 30vh;
	overflow-y: scroll;
	overflow-y: scroll;
	scrollbar-width: thin;
	-ms-overflow-style: -ms-autohiding-scrollbar;

	&::-webkit-scrollbar {
		width: 8px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: $primary-500;
		border-radius: 0px;
	}
}

.item {
	@apply text-base mb-1 px-2;
}

.buttons {
	> button:nth-of-type(2) {
		@apply ml-4;
	}
}

@media (max-width: 500px) {
	.title {
		@apply text-base;
	}
	.item {
		@apply text-sm;
	}
}

@media (max-width: 400px) {
	.title {
		@apply text-sm;
	}
	.item {
		@apply text-xs;
	}
	.buttons {
		> button {
			@apply text-sm px-2;
		}
	}
}
