@import '../../../../../../styles/colors.scss';

.container {
	@apply rounded-md;
	height: calc(100vh - 280px);

	overflow-y: auto;
	scrollbar-width: thin;
	-ms-overflow-style: -ms-autohiding-scrollbar;

	&::-webkit-scrollbar {
		width: 4px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: $gray-400;
		border-radius: 0px;
	}
}
