.container {
	min-width: 330px;
}

.header {
	@apply px-4 py-2 flex flex-row justify-between items-center bg-primary-50 box-border;
	height: 52px;
}

.menu {
	@apply flex justify-start  text-primary-700 items-center;
	height: 26px;

	.menuItem {
		@apply flex flex-row items-center justify-center cursor-pointer px-2 h-full transition-colors box-border;
		min-width: 82px;

		> p {
			@apply m-0;
		}

		&:hover {
			@apply bg-primary-200;
		}

		&.active {
			@apply font-bold bg-primary-500 text-gray-0;
		}
	}
}

.tools {
	@apply flex flex-row justify-between items-center;
}
