@import '../../../../../../../styles/colors.scss';
.container {
	max-width: 500px;
	list-style-type: none;
	padding-left: 0;
}

.categoryContent {
	@apply box-border w-full mb-0.5 overflow-hidden p-2 font-semibold bg-primary-100 text-primary-700;
	border: solid 1px $gray-200;
	line-height: 18px;
}
