@import '../../../../styles/colors.scss';

.table {
	@apply mt-4 w-full box-border;
	border: 1px $gray-300 solid;
}

.header {
	@apply grid text-base text-center bg-primary-50 w-full;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 1px;
	> div {
		@apply p-1 self-center;
	}
}

.body {
	@apply w-full;
	height: calc(100vh - 316px);
	@media (max-width: 500px) {
		height: calc(100vh - 304px);
	}
	@media (max-width: 390px) {
		height: calc(100vh - 324px);
	}

	overflow-y: auto;
	scrollbar-width: thin;
	-ms-overflow-style: -ms-autohiding-scrollbar;

	&::-webkit-scrollbar {
		width: 8px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: $primary-500;
		border-radius: 0px;
	}
}

.item {
	@apply grid text-base text-center hover:bg-primary-200 cursor-pointer w-full box-border;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 1px;
	border-top: 1px $gray-100 solid;
}

.cell {
	@apply py-2 flex flex-row items-center justify-center outline-none px-0 mx-0;
}

@media (max-width: 500px) {
	.cell {
		@apply text-sm;
	}
	.header {
		> div {
			@apply text-sm;
		}
	}
}
