@import '../../../../styles/colors.scss';

.table {
	@apply mt-4;
	border: 1px $gray-300 solid;
}

.header {
	@apply grid text-base text-center bg-primary-50;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 1px;
	> div {
		@apply p-1 self-center;
	}
}

.body {
	overflow-y: auto;
	max-height: calc(100vh - 310px);
	@media (max-width: 500px) {
		max-height: calc(100vh - 298px);
	}
	@media (max-width: 390px) {
		max-height: calc(100vh - 318px);
	}
}

.item {
	@apply grid text-base text-center hover:bg-primary-200 cursor-pointer;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 1px;
	border-top: 1px $gray-100 solid;
}

.cell {
	@apply py-2 flex flex-row items-center justify-center outline-none px-0 mx-0;
}

@media (max-width: 500px) {
	.cell {
		@apply text-sm;
	}
	.header {
		> div {
			@apply text-sm;
		}
	}
}
