@import '../../../../../../../../styles/colors.scss';

.itemCreator {
	@apply mt-3 flex flex-row items-center justify-between box-border;

	> input {
		@apply pl-5 pr-2 mr-1 w-full h-10 m-0 text-base text-primary-900 bg-transparent outline-none box-border;
		border: solid 1px $gray-200;
	}

	> button {
		@apply m-0 flex flex-row items-center justify-center h-10 box-border;
	}
}

.item {
	@apply flex flex-row my-0.5 box-border cursor-pointer;
	border: solid 1px $gray-200;
	padding: 4px 6px !important;

	> button:nth-of-type(1) {
		@apply mt-0;
	}

	> p,
	input {
		@apply border-none bg-transparent text-base w-full my-0 whitespace-nowrap overflow-hidden overflow-ellipsis;
	}

	> input {
		padding: 0;
		outline: none;
		margin-left: 18px;
	}
}

.single {
	> p {
		margin-left: 18px;
	}
}

.icon {
	@apply flex flex-row justify-center items-center w-10 cursor-move;
}

.icon:nth-of-type(2) {
	@apply cursor-pointer;
	&:hover {
		> svg {
			transform: scale(1.25);
		}
	}
}
