@import '../../../../styles/colors.scss';

.reportForm {
	@apply w-full;
	height: calc(100vh - 300px);
	@media (max-width: 800px) {
		height: calc(100vh - 296px);
	}
	@media (max-width: 560px) {
		height: calc(100vh - 312px);
	}
	@media (max-width: 450px) {
		height: calc(100vh - 284px);
	}
}

.fieldSet {
	@apply grid gap-x-2 gap-y-0.5  rounded-sm;

	@media (min-width: 865px) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media (min-width: 1270px) {
		grid-template-columns: repeat(3, 1fr);
	}

	@media (min-width: 1950px) {
		grid-template-columns: repeat(4, 1fr);
	}
}

.blockTitle {
	@apply ml-2 my-2 text-xl text-primary-600 underline;
	@media (max-width: 600px) {
		font-size: 18px;
		line-height: 22px;
	}
	@media (max-width: 450px) {
		font-size: 16px;
		line-height: 18px;
	}
}

.fieldGroup {
	@apply rounded-sm;
	border: 1px solid $primary-200;

	&:not(:first-child) {
		margin-top: 8px;
	}
}

.fieldWithCheckbox {
	@apply flex flex-row items-center justify-between;
	> div:first-child {
		width: calc(100% - 164px);
	}
}

.checkbox {
	@apply w-full;
}
